<div class="nav1">
    <center>
        <table class="table">
            <thead>
                <tr>
                    <th>Movie ID</th>
                    <th>Movie</th>

                </tr>
            </thead>
            <tbody>
                <tr>


                    <td><input ng-model="movi.moviTitle" /></td>

                    <td><button ng-click="addMovie(movi)" class="fa fa-plus" aria-hidden="true"></button></td>

                    <td><button ng-click="updateMovie(movi)" class="fa fa-refresh" aria-hidden="true"></button></td>

                </tr>
                <tr ng-repeat=" movi in moviList">
                    <td>{{movi.moviTitle}}</td>
                    <td><button ng-click="removeMovie(movi)" class="fa fa-trash-o" aria-hidden="true"></button></td>
                    <td><button ng-click="editMovie(movi)" class="fa fa-pencil" aria-hidden="true"></button></td>
                </tr>
            </tbody>
        </table>
    </center>