.movies-container {
    height: 275px;
    width: 285px;
    display: inline-block;
    margin-bottom: 57px;
}

.movie-poster {
    height: 200px;
    width: 200px;
    display: block;
}

.movie-title {
    display: block;
}

.movie-director {
    display: block;
}

.book {
    width: 200px !important;
}

.movies-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left:250px;
}

.fgm-movie-align {
    margin-bottom: 20px;
}

.filter-movies {
    margin-bottom: 40px;
}


.navbar-fixed-left {
  width: 250px;
  position: absolute;
  border-radius: 0;
  height: 100%;
  display:block;
  
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  

}




.nav1{
    padding-left:250px;
} 
.movies-wrapper{
    
}